@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24&family=Jersey+20&family=Lateef:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;400&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Workbench&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#12bdff;
   --dark-primary:#1b1f24;
   --primary-hover:#8ce235;
}
body{
    font-family: "Noto Sans", sans-serif;
}

header{
    background-color:var(--dark-primary);
    padding:20px;
    color:#fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
 header ul{
    display:flex;
    list-style: none;
}
header ul li{
    margin-right:10px;

}
 ul li a{
    color:#fff;
    text-decoration: none;
}
header ul li a:hover{
    color:var(--primary);
    font-weight: bold;
}
header{
    background-color: var(--dark-primary);
    padding:20px;
    color:#fff;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo{
font-weight: 600;
color:var(--primary);
letter-spacing: 2px;
}
.hero-section{
    background-color: var(--dark-primary);
    display: flex;
    color:white;
    align-items: center;
    padding:20px 120px 0 240px;
}
.hero-image__title{
    font-size: 48px;
    font-weight: 800;

}
.hero-section{
 background-color: var(--dark-primary);
}
.hero-section__desc{
color: #c4c4c4;
}
.social-icons{
    margin:20px 0 ;
}
.social-icons li{
    margin-right:15px
}
ul.social-icons{
    list-style: none;
    display:flex;
}
.social-icons li > a{
    text-decoration: none;
    color:#fff;
}
.social-icons li a > i.fa-facebook:hover{
color:#1877f2;
}
.social-icons li a > i.fa-linkedin:hover{
    color:#feda75;
    }
.social-icons li a > i.fa-instagram:hover{
        color:#00acee;
        }
.social-icons li a > i.fa-twitter:hover{
            color:#1877f2;
            }
            .btn{
                background-color: white;
                padding:10px;
                border-radius: 7px;
                cursor: pointer;
                border:none;
            }
.btn.btn-primary{
    background-color: var(--primary);
    font-weight: 600;
    color:white;
}    
.btn.btn-primary:hover{
    background-color: var(--primary-hover);
}        
.btn-dark-outline{
    background-color: var(--dark-primary);
    border:1px solid var(--primary);
    color:var(--primary);
     border-radius: 7px;
     font-weight: 600;
}
.hero-btn button{
    margin-right: 10px;
}

   
header button:hover{
    background-color: var(--primary);
    cursor: pointer;
    color:var(--dark-primary);
}
.span{
    color:var(--primary);
}
.about-section{
    background-color: #22282f;
    color:#fff;
    padding:60px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about-section img{
    width: 350px;
    height:350px;
    border-radius: 10px;
    border:3px solid var(--primary);
    box-shadow: 5px 10px 40px var(--primary);
}
.about-section-desc h4{
    font-size: 30px;
    font-weight: 900;
}
.about-section-desc{
    margin-left: 100px;
    max-width: 450px;
} 
.about-section-desc ul{
    list-style: none;
    margin:10px 0;
}  
.about-section-desc li{
    margin-bottom: 8px;
    color:gray;
}
.about-section-desc li>strong{
    color:#fff;
}

.about-section span{
    color:var(--primary);
}
.work-section{
    background-color: var(--dark-primary);
    color:#fff;
    padding:60px;
    text-align: center;
}
.work-section-box{
    background-color: #22282f;
    padding: 30px;
    max-width:300px;
    text-align: left;
    border-radius:10px;
    cursor: pointer;
    margin-right: 20px;

}
.work-section-box a{
    text-decoration: none;
    color:#feda75;
    display:block;
    margin-top: 10px;

}
.work-section-box-icon{
    background-color: var(--primary);
    border-radius: 50%;
}
.work-section-box:hover{
background-color: #14171c;
}
.work-section-box-desc{
    padding-top: 5px;
}
.work-section-items{
    display:flex;
    justify-content: center;
}
.work-section-title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.work-section-title span{
    color:var(--primary)
}